.show{
    background-color: #001a25;
}

.top_bar{
    height:80px;
    background-color: #005569;
}

.drop_btn{
    cursor: pointer;
    width: 80px;
    height: 50px;
    font-size: 20px;
    margin-left:30px;
    padding: 10px;
    border: 3px solid;
    border-radius: 30px;
    background-color: transparent;
    color: #ffffff;
}


.drop_down{
	position:fixed;
    z-index: 1;
    width:150px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 10px;
    margin-right: 20px;
}

.drop_content a{
    color: white;
    text-decoration: none !important;
    display:block;
}

.drop_content a:hover{
    color:red;
}

.drop_content{
    display: none;
    font-size: 20px;
    width:150px;
    padding: 10px;
    color: #ffffff;
}

.home{
	color:black;
	width:80px;
	height:45px;
	margin-top:15px;
}

.home a{
	color:black;
	margin:15px;
}

.home:hover{
	text-decoration:none !important;
	border-color:red;
}

